@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@tailwind utilities;

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	--dark-mode: class;

	--color-primary: #197fe6;
	--color-background-light: #f6f7f8;
	--color-background-dark: #111921;

	--font-display: Inter, sans-serif;

	--radius-default: 0.25rem;
	--radius-lg: 0.5rem;
	--radius-xl: 0.75rem;
	--radius-full: 9999px;
}
